@using GymChanger.ViewModels
@model RegisterViewModel
@{
    ViewData["Title"] = "Регистрация";
}

<h4 style="margin-top: 15px; text-align: center">Регистрация на сайте</h4>

<div class="row mt-3">
    <div class="col-md-6 offset-3">

        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>Ошибка!</b> - @TempData["Error"] </span>
            </div>
        }

        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Register">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Surname" class="control-label">Фамилия</label>
                        <input asp-for="Surname" class="form-control" />
                        <span asp-validation-for="Surname" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Имя</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MiddleName" class="control-label">Отчество</label>
                        <input asp-for="MiddleName" class="form-control" />
                        <span asp-validation-for="MiddleName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BirthDay" class="control-label">Дата рождения</label>
                        <input asp-for="BirthDay" type="date" class="form-control" />
                        <span asp-validation-for="BirthDay" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EmailAddress" class="control-label">Email</label>
                        <input asp-for="EmailAddress" class="form-control" />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label">Пароль</label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label">Подтвердите пароль</label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-2">
                        <input class="btn btn-outline-success float-right" type="submit" value="Зарегистрироваться" />
                        <a class="btn btn-outline-secondary" asp-controller="Course" asp-action="Index">Отмена</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>