@using GymChanger.Data;
@using GymChanger.Models
@using GymChanger.ViewModels;
@using Microsoft.AspNetCore.Identity
@model GroupViewModel
@{
    ViewData["Title"] = "Группа";
}

<style>

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover, .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}
</style>
<h5 style="color: black; text-align: center; margin-bottom: 15px">Группа курса</h5>
    <div class="container">
        <div class="row text-center">
            @foreach(var item in Model.Users)
            {
            <div class="col-xl-2 col-sm-6 m-1" style="border-color:skyblue; border-style:solid; ">
                <div class="bg-white  py-3 px-2">
                    <img src="https://d1nhio0ox7pgb.cloudfront.net/_img/g_collection_png/standard/512x512/user.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">@item.Surname @item.Name</h5><span class="small text-uppercase text-muted">@item.BirthDay</span>
                </div>
            </div>
            }
        </div>
    </div>